@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/* 
Montserrat
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
 */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --def: rgb(80, 2, 226);
  --btncolor: rgb(24, 24, 24);
  --btn: rgb(216, 214, 214);
  --warning: rgb(241, 207, 11);
  --error: rgb(235, 55, 55);
  --verd: rgb(36, 204, 50);
  --dark: rgb(65, 65, 65);
  --light: rgb(228, 226, 226);
}

body {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 200px;
}

a {
  color: rgb(16, 131, 238);
}

/* Containers */

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-full {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 16px;
  background: var(--btn);
  border-radius: 3px;
  color: var(--btncolor);
  display: block;
}

.btn.primary {
  background: var(--def);
  color: #fff;
}

.btn.error {
  background: var(--error);
  color: #fff;
}

.btn.warning {
  background: var(--warning);
}

.btn.verd {
  background: var(--verd);
}

.btn.rounded {
  border-radius: 25px;
  padding: 12px 40px;
}

.btn.dark {
  background: var(--dark);
  color: #fff;
}

/* Dropdown button */

.dropdown-box,
.dropdown-box-hover {
  width: fit-content;
  position: relative;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  width: 100%;
  border-left: 1px solid rgb(32, 32, 32);
  border-right: 1px solid rgb(32, 32, 32);
  border-bottom: 1px solid rgb(32, 32, 32);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  visibility: hidden;
  background: #fff;
  z-index: 2;
}

.dropdown-menu a:hover {
  background: rgb(233, 232, 232);
  width: 100%;
}

.dropdown-menu a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(32, 32, 32);
  padding: 5px 10px;
}

.dropdown-box button:focus + .dropdown-menu {
  visibility: visible;
}

/* .dropdown-btn-hover:hover + .dropdown-menu {
  visibility: visible;
} */

.dropdown-box-hover:hover > .dropdown-menu {
  visibility: visible;
}

/* Navbar */

.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
}

.navbar.light {
  background: var(--light);
}

.nav-links {
  display: flex;
  list-style: none;
  margin-left: 15px;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 5px;
}

.navbar.light .nav-links li a {
  color: rgb(83, 83, 83);
}

.navbar.light .nav-links li.active a,
.navbar.light .nav-links li a:hover {
  color: #000;
}

.nav-logo {
  cursor: pointer;
}

.nav-logo img {
  width: 30px;
  height: 30px;
}

.navbar.dark {
  background: var(--dark);
}

.navbar.dark .nav-logo {
  color: #fff !important;
}

.navbar.dark .nav-links li a {
  color: #ccc;
}
.navbar.dark .nav-links li.active a,
.navbar.dark .nav-links li a:hover {
  color: #fff !important;
}

.menu-toggle {
  background: none;
  border: 1px solid silver;
  padding: 3px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  display: none;
}

.navbar.dark .menu-toggle .line {
  background: #fff;
}

.menu-toggle .line {
  width: 30px;
  height: 4px;
  background: #000;
  margin: 5px;
  border-radius: 20px;
}

.menu-toggle:focus + .nav-links {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar {
    justify-content: space-between !important;
    flex-wrap: wrap;
  }

  .nav-links {
    display: none;
    margin: 0;
    width: 100%;
    flex-direction: column;
    border-top: 2px solid silver;
    padding-top: 15px;
    margin: 20px 0;
  }

  .nav-links li {
    padding: 10px 0;
  }
}

/* Accordions */

.accordion-box {
  position: relative;
  max-width: 500px;
  margin: 5px 0;
}

.accordion-toggle {
  width: 100%;
  padding: 20px;
  border: none;
  background: #fff;
  cursor: pointer;
  outline: none;
  border: 1px solid silver;
  border-radius: 2px;
  font-size: 20px;
  text-align: left;
}

.accordion-panel {
  padding: 10px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.accordion-panel button {
  margin-top: 10px;
}

.accordion-toggle:focus + .accordion-panel {
  opacity: 1;
  position: static;
  transition: 0.8s;
  pointer-events: all;
}

.accordion-box:active > .accordion-panel {
  opacity: 1;
  position: static;
  transition: 0.8s;
  pointer-events: all;
}

/* Cards */

.card {
  border: 1px solid silver;
  width: fit-content;
  border-radius: 7px;
}

.card-img-div,
.card-img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.card-img-div {
  background: rgb(92, 91, 91);
  display: flex;
  justify-content: center; /* Card-image placeholder (Not using in library release) */
  align-items: center;
  color: #ccc;
  font-size: 35px;
}

.card-text {
  max-width: 300px;
  padding: 20px;
  line-height: 24px;
}

.card-text h2 {
  margin: 10px 0;
}

.card-text button {
  margin-top: 15px;
}

/* advanced css classes */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

.h-100 {
  height: 100% !important;
}

.fw-wrap {
  flex-wrap: wrap;
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.center {
  display: block;
  margin: 0 auto;
}
